*{
    margin: 0px;
    padding: 5px;
}

section{
    width: 80%;
    margin: auto;
    margin-top: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card{
    width: 250px;
    padding: 20px;
    background-color: rgba(55, 160, 160, 0.158);
    border-radius: 10Px;
    margin: 20px;
}

.cart:hover{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.detail p:nth-child(1){
font-weight: bold;
}

.detail p:nth-child(2){
    color: gray;
    font-size: 0.8rem;
}

.detail p:nth-child(3){
    font-weight: bold;
    color: gray;
}
.detail button{
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: seagreen;
  outline: none;
  border-radius:7px
}

.title{
    background-color: rgba(80, 195, 199, 0.596);
    color: white;
    border-radius: 15px
}